<!-- Personalizar sitio  -->
<div class="clean-body m-0 p-0 personalizar-sitio">
	<!--
	<style>
		.colorBoton { background-color: {{"#" + psCtrl.config.colorBoton}}; }
	</style>
	-->
	<div class="container-fluid header-personalizar py-2">
		<div class="row align-items-center">
			<div class="col">
				<h4>Personalizar sitio</h4>
			</div>
			<div class="col">
				<a href="#" class="text-white float-right d-flex align-items-center">
					<img src="images/sign-out-alt-solid-white.svg" alt="" width="20" class="mr-2 text-white fill-white">
					Cerrar sesión
				</a>
			</div>
		</div>
	</div>
	<div ng-if="!psCtrl.config.integraloEnTuSitio" class="block-grid w-100 header-sitio-edicion container-fluid"
		ng-style="psCtrl.style.colorFondo1">
		<div class="row py-1 align-items-top">
			<div class="col-4 num12"
				style="min-width: 320px; max-width: 800px; display: table-cell; vertical-align: top; width: 800px;">
				<div style="width:100% !important;">
					<div
						style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:10px; padding-bottom:10px; padding-right: 0px; padding-left: 0px;">
					</div>
				</div>
			</div>
			<div class="col-4 text-center">
				<a href="http://www.bluex.cl" class="d-inline-block logo-edicion ml-5">
					<img alt="BluexEspress" class="d-block" ng-if="psCtrl.config.imagen2"
						ng-src="{{'data:image/png;base64,' + psCtrl.config.imagen2.base64}}" title="BluexEspress"
						height="38" width="60" />
				</a>
				<div ng-if="!psCtrl.config.ocultarEdicion" class="card-edicion ml-1">
				<form action="">
					<ul class="list-unstyled text-left">
						<li>
							<label for="inputImagen2" class="text-grey d-block mb-1">
								<img src="images/subir.svg" width="20" alt="">
								<span>Subir imagen</span><span class="f-tooltip float-right ">i</span>
							</label>
							<input id="inputImagen2" style="display:none" type='file' ng-model='psCtrl.config.imagen2'
								base-sixty-four-input>
						</li>
						<li>
							<a href="" class="text-grey d-block" ng-click="psCtrl.config.imagen2=''">
								<img src="images/eliminar.svg" width="23" alt="" class="ml-n1">
								<span>Eliminar imagen</span>
							</a>
						</li>
					</ul>
				</form>
				</div>
			</div>
			<div class="col-4 text-right pr-4" ng-if="!psCtrl.config.ocultarEdicion">
				<button type="button" class="btn btn-light mt-1" ng-click="psCtrl.showColorFondo1ColorPicker()">
					<img src="images/cambiar-color.svg" width="16" alt="" class="mt-n1">
					Cambiar color de fondo
				</button>
				<color-picker api="psCtrl.colorFondo1ColorPicker" ng-model="psCtrl.config.colorFondo1"
					event-api="psCtrl.eventAPIColorColorFondo1" options="psCtrl.colorPickerOptionsColorFondo1">
				</color-picker>
			</div>
		</div>
	</div>


	<section ng-if="!psCtrl.config.integraloEnTuSitio" class="hero-msg" ng-style="psCtrl.style.colorFondo2">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<div class="col-9">
							<!-- Texto antes de haer click en editar  -->
							<div ng-if="!psCtrl.editarTitulo1" class="devolucion-texto d-flex align-items-center">
								<h2 class="d-inline-block" ng-style="psCtrl.style.titulo1">
									{{psCtrl.config.textoTitulo1}}</h2>
								<div ng-if="!psCtrl.config.ocultarEdicion" class="card-edicion ml-1">
									<ul class="list-unstyled text-left">
										<li><a href="" class="text-grey d-block mb-1"
												ng-click="psCtrl.editarTitulo1=true">
												<img src="images/editar-texto.svg" width="20" alt="">
												<span>Editar texto</span>
											</a>
										</li>
										<li>
											<a href="" class="text-grey d-block"
												ng-click="psCtrl.showTitulo1ColorPicker()">
												<img src="images/cambiar-color.svg" width="16" alt="" class="">
												<span class="ml-1">Cambiar color</span>

											</a>
											<color-picker api="psCtrl.titulo1ColorPicker"
												ng-model="psCtrl.config.colorTitulo1"
												event-api="psCtrl.eventAPIColorTitulo1"
												options="psCtrl.colorPickerOptions1"></color-picker>

										</li>
									</ul>
								</div>
							</div>
							<!-- Texto despues de ehacer click en editar  -->
							<div ng-hide="!psCtrl.editarTitulo1" class="devolucion-texto-editar">
								<form class="w-50">
									<div class="form-group mb-1">
										<input class="form-control" ng-model="psCtrl.temp.textoTitulo1">
									</div>
								</form>
								<div class="card-edicion mt-1">
									<ul class="list-unstyled text-left">
										<li>
											<a href="" class="text-grey d-block" ng-click="psCtrl.guardarTitulo1()">
												<img src="images/editar-texto.svg" width="27" alt="">
												<span>Guardar texto</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-3 text-right">
							<div ng-if="!psCtrl.config.ocultarEdicion" class="card-edicion ml-1">
								<ul class="list-unstyled text-left">
									<li>
										<label style="cursor: pointer;" class="text-grey d-block mb-1"
											for="inputImagen1">
											<img src="images/subir.svg" width="20" alt="">
											<span>Subir imagen</span>
											<button type="button" class="btn btn-secondary btn-tooltip" 
											data-toggle="tooltip" data-placement="left" title="Tooltip on left">
											i 
											</button>
										</label>
										<input id="inputImagen1" style="display:none" type='file'
											ng-model='psCtrl.config.imagen1' base-sixty-four-input>
									</li>
									<li>
										<a href="" class="text-grey d-block" ng-click="psCtrl.config.imagen1=''">
											<img src="images/eliminar.svg" width="23" alt="" class="ml-n1">
											<span>Eliminar imagen</span>
										</a>
									</li>
								</ul>
							</div>
							<img ng-if="psCtrl.config.imagen1"
								ng-src="{{'data:image/png;base64,' + psCtrl.config.imagen1.base64}}" width="54"
								height="53" alt="" class="mt-n3">
						</div>
					</div>
				</div>
				<div class="col-12">
					<hr>
				</div>
				<div class="col-12">
					<div class="row">
						<div class="col-10">
							<!-- Texto antes de haer click en editar  -->
							<div ng-if="!psCtrl.editarTitulo2" class="devolucion-texto d-flex align-items-center">
								<h6 class="d-inline-block vertical-align-middle" ng-style="psCtrl.style.titulo2">
									{{psCtrl.config.textoTitulo2}}
								</h6>
								<div ng-if="!psCtrl.config.ocultarEdicion" class="card-edicion ml-1">
									<ul class="list-unstyled text-left">
										<li><a href="" class="text-grey d-block mb-1"
												ng-click="psCtrl.editarTitulo2=true">
												<img src="images/editar-texto.svg" width="20" alt="">
												<span>Editar texto</span>
											</a>
										</li>
										<li>
											<a href="" class="text-grey d-block"
												ng-click="psCtrl.showTitulo2ColorPicker()">
												<img src="images/cambiar-color.svg" width="16" alt="" class="">
												<span class="ml-1">Cambiar color</span>
											</a>
											<color-picker api="psCtrl.titulo2ColorPicker"
												ng-model="psCtrl.config.colorTitulo2"
												event-api="psCtrl.eventAPIColorTitulo2"
												options="psCtrl.colorPickerOptions2"></color-picker>
										</li>
									</ul>
								</div>
							</div>
							<!-- Texto despue de ehacer click en editar  -->
							<div ng-if="psCtrl.editarTitulo2" class="devolucion-texto-editar">
								<form>
									<div class="form-group">
										<input class="form-control" ng-model="psCtrl.temp.textoTitulo2">
									</div>
								</form>
								<div class="card-edicion ml-1">
									<ul class="list-unstyled text-left">
										<li>
											<a href="" class="text-grey d-block" ng-click="psCtrl.guardarTitulo2()">
												<img src="images/editar-texto.svg" width="27" alt="">
												<span>Guardar texto</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-2" ng-if="!psCtrl.config.ocultarEdicion">
							<button type="button" class="btn btn-light mt-2"
								ng-click="psCtrl.showColorFondo2ColorPicker()">
								<img src="images/cambiar-color.svg" width="16" alt="" class="mt-n1">
								Cambiar color de fondo
							</button>
							<color-picker api="psCtrl.colorFondo2ColorPicker" ng-model="psCtrl.config.colorFondo2"
								event-api="psCtrl.eventAPIColorColorFondo2"
								options="psCtrl.colorPickerOptionsColorFondo2">
							</color-picker>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<form name="myForm" ng-style="psCtrl.style.colorFondo3">
		<div class="container mb-5" id="paso1" name="paso1" ng-style="psCtrl.style.colorFondo3">
			<section class="etapas">
				<div class="row justify-content-center mb-5 mt-2">
					<div class="col-4 pr-0">
						<div class="paso paso-uno align-items-start active">
							<h6 ng-style="psCtrl.style.colorPasoTexto">PASO 1</h6>
							<div ng-style="psCtrl.style.colorPasoCirculo" class="circulo"></div>
							<div class="linea"></div>
						</div>
						<button ng-if="!psCtrl.config.ocultarEdicion" type="button" class="btn btn-light mt-n3"
							ng-click="psCtrl.showColorPasoColorPicker()">
							<img src="images/cambiar-color.svg" width="16" alt="" class="mt-n1">
							Cambiar color paso 1
						</button>
						<color-picker api="psCtrl.colorPasoColorPicker" ng-model="psCtrl.config.colorPaso"
							event-api="psCtrl.eventAPIColorPaso" options="psCtrl.colorPickerOptionsColorPaso">
						</color-picker>
					</div>
					<div class="col-4 px-0">
						<div class="paso paso-tres align-items-end">
							<h6>PASO 2</h6>
							<div class="circulo"></div>
							<div class="linea"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="inputs-forms mt-1">
				<div class="row form-inline justify-content-center">
					<!-- Texto sin editar  -->
					<div ng-if="!psCtrl.editarTitulo3" class="edicion-texto col-12 col-md-10 pl-0 mt-n4">
						<h5 class="d-flex align-items-center">{{psCtrl.config.textoTitulo3}}
							<div ng-if="!psCtrl.config.ocultarEdicion" class="card-edicion ml-1">
								<ul class="list-unstyled text-left">
									<li><a href="" class="text-grey d-block mb-1" ng-click="psCtrl.editarTitulo3=true">
											<img src="images/editar-texto.svg" width="20" alt="">
											<span>Editar texto</span>
										</a>
									</li>
								</ul>
							</div>
							<div ng-if="!psCtrl.config.ocultarEdicion" class="card-edicion ml-auto col-2" style="min-width: 210px;
							padding: 10px;">
								<ul class="list-unstyled text-left">
									<li>
										<a href="" class="text-grey d-block"
											ng-click="psCtrl.showColorFondo3ColorPicker()">
											<img src="images/cambiar-color.svg" width="16" alt="" class="">
											<span class="ml-1">Cambiar color de fondo</span>
										</a>
										<color-picker api="psCtrl.colorFondo3ColorPicker"
											ng-model="psCtrl.config.colorFondo3"
											event-api="psCtrl.eventAPIColorColorFondo3"
											options="psCtrl.colorPickerOptionsColorFondo3"></color-picker>
									</li>
								</ul>
							</div>
						</h5>
					</div>
					<!-- Texto en modo edicion  -->
					<div ng-hide="!psCtrl.editarTitulo3" class="col-12 col-md-10 pl-0 edicion-texto-activo pb-3">
						<form>
							<div class="form-group mb-2">
								<input class="form-control" id="" ng-model="psCtrl.temp.textoTitulo3">
							</div>
						</form>
						<div class="card-edicion">
							<ul class="list-unstyled text-left">
								<li>
									<a href="" class="text-grey d-block" ng-click="psCtrl.guardarTitulo3()">
										<img src="images/editar-texto.svg" width="27" alt="">
										<span>Guardar texto</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-md-10 px-5 pt-3 card-white pb-4">
						<div class="row">
							<div class="col-12 mb-3">
								<div class="form-group">
									<label for="ordenCompra" class="col-4 justify-content-start">Número de Orden de
										Compra* <span class="f-tooltip float-right ">i</span> </label>
									<input type="text" class="form-control col-6 justify-content-start"
										name="ordenCompra" required ng-model="psCtrl.temp.ordenCompra"
										placeholder="Ej: AC00112233">
								</div>
							</div>
							<div class="col-12 mb-3">
								<div class="form-group">
									<label for="tipoProducto" class="col-4 justify-content-start">Tipo de
										Producto*</label>
									<input type="text" class="form-control col-6 justify-content-start"
										id="tipoProducto" ng-model="psCtrl.temp.tipoProducto" required
										placeholder="Ej: Ropa, Electrodomesticos, etc">
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label for="codigoMotivo" class="col-4 justify-content-start">Motivo*</label>
								<select id="codigoMotivo" class="form-control col-6 justify-content-start" required
									ng-init="psCtrl.cargarMotivos()" ng-model="psCtrl.temp.codigoMotivo"
									ng-options="option.nombreMotivo for option in psCtrl.temp.motivos track by option.codigoMotivo">
								</select>
							</div>
						</div>
						<div class="col-10 text-right">
							<p>*Campos obligatorios</p>
						</div>
						<div class="col-12 col-md-12">
							<button type="button" class="btn btn-primary btn-lg btn-block btn-validar colorBoton"
								ng-style="psCtrl.style.colorBoton">
								Validar
								<div ng-if="!psCtrl.config.ocultarEdicion" class="card-edicion">
									<ul class="list-unstyled text-left">
										<li>
											<a href="" class="text-grey d-block"
												ng-click="psCtrl.showColorBotonColorPicker()">
												<img src="images/cambiar-color.svg" width="16" alt="" class="">
												<span class="ml-1">Cambiar color</span>
											</a>
											<color-picker api="psCtrl.colorBotonColorPicker"
												ng-model="psCtrl.config.colorBoton"
												event-api="psCtrl.eventAPIColorBoton"
												options="psCtrl.colorPickerOptionsColorBoton"></color-picker>
										</li>
									</ul>
								</div>
							</button>
							<!-- boton loading  
							<button type="button" class="btn btn-primary btn-lg btn-block btn-validar">
								<div class="spinner-button">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
							</button>-->
						</div>
					</div>
				</div>
		</div><br>
</div>
<div class="barra-follower">
	<div class="row px-4 py-3">
		<div class="col-6 pt-1 pl-4">
			<form action="">
				<div class="custom-control custom-switch custom-switch-lg custom-control-inline">
					<input ng-disabled="psCtrl.bloquearChecks()" type="checkbox" class="custom-control-input" id="integralo-en-tu-sitio"
						ng-model="psCtrl.config.integraloEnTuSitio">
					<label class="custom-control-label text-white" for="integralo-en-tu-sitio">Integralo en tu
						sitio</label>
				</div>
				<div class="custom-control custom-switch custom-control-inline">
					<input ng-disabled="psCtrl.bloquearChecks()" type="checkbox" class="custom-control-input" id="ocultar-edicion"
						ng-model="psCtrl.config.ocultarEdicion">
					<label class="custom-control-label text-white" for="ocultar-edicion">Ocultar edición</label>
				</div>
			</form>
		</div>
		<div class="col-6 text-right">
			<button type="button" class="btn btn-secondary" onclick="javascript:location.reload();">Limpiar</button>
			<button type="button" class="btn btn-secondary mr-2" data-toggle="modal"
				data-target="#exampleModal">Volver</button>
			<button ng-if="!psCtrl.loadingGuardar" type="button" class="btn btn-success"
				ng-click="psCtrl.guardar()">Guardar cambios</button>
			<button ng-if="psCtrl.loadingGuardar" type="button" class="btn btn-success">
				<div class="spinner-button">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</button>
		</div>
	</div>
</div>
</form>
<!-- Modal salir sin guardar  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-body" id="exampleModalLabel">¿Deseas salir sin guardar?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>No se guardaran los cambios realizados</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary">Salir sin guardar</button>
			</div>
		</div>
	</div>
</div>
</div>