<!-- Panel de administracion  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-md5/0.1.10/angular-md5.js"></script>


<script>
function myFunction() {
    var x = document.getElementById("link");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
<div ng-controller="disenoConfigCtrl" class="clean-body">
    <div class="container">
        <form name="myForm" novalidate></form>
            <div class="row">
                <div class="col-12 mt-2 pt-2">
                    <div class="card mt-5 p-2 pb-5">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="pl-4 mt-2 text-grey mb-5">Genera tu propia Url</h2>
                                <form class="form-inline">
                                    <div class="form-group col-4 mx-sm-3 mb-2">
                                    <label for="inputPassword2" class="sr-only">Ingrese nombre de ecommerce</label>
                                    <input type="text" name="input" value="80855-5" required ng-trim="false">&nbsp;
                                    <button type="submit" class="btn btn-primary mb-2" onclick="myFunction()">Generar url</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div  id="link" style="display: none;" >
                         <div class="d-flex align-items-center pl-4 mt-5 pt-4">
                            <img src="images/link-solid.svg" width="20" alt="" class="mr-2">
                            <p class="mr-2 mb-0 text-grey">
                            	<code>http://portal2.bluex.cl/devolucionRest/devolucion/#/{{nombreUrl.text}}</code><br/>
                            </p>
                            <button type="button" class="btn btn-success  btn-sm">Copiar url1</button>
                        </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <div class="card mt-5 p-2 pb-3">
                        <div class="row">
                            <div class="col-12 pt-3">
                                <form action="" class="pl-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label text-grey" for="inlineCheckbox1">¿Se debe validar la orden de compra u orden de transporte?</label>
                                      </div>
                                      <div class="form-check form-check-inline ml-3">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                        <label class="form-check-label text-grey" for="inlineCheckbox2">¿Se debe notificar por email las solicitudes?</label>
                                      </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <div class="card mt-5 p-2 pb-3">
                        <div class="row pl-3">
                            <div class="col-12 pt-3">
                                <p class="text-grey">Usa en tu sitio web</p>
                            </div>
                            <div class="col-12 pt-3">
                                 <p class="text-grey">
                                	&lt;iframe src="http://portal2.bluex.cl/devolucionRest/devolucion/#/{{nombreUrl.text}}" title="personaliza tu sitio" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;
                                </p>
                            </div>
                            <div class="col-12 pl-3">
                                <button type="button" class="btn btn-success btn-sm">Copiar código</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right pt-3">
                    <button type="button" onclick="window.location='#dashboard-edicion'" class="btn btn-secondary">Volver</button>
                </div>
            </div>
    </div>

</div>