<!-- Home dashboard  -->
<div ng-controller="loginCtrl as lCtrl" class="clean-body" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%;">
	<form name="myForm" novalidate>
		<div class="container mb-3" id="paso1" name="paso1">
			<div class="row align-items-center cards-dashboard">
				<div class="col-12 text-center mb-3">
					<h1 class="mb-3 text-grey font-ligth">Menú General Reportes</h1>
				</div>
				<div class="col-4 text-center">
					<a href="#reportesEstado" class="card">
						<img src="images/Bar_chart.svg" alt="" width="80" class="m-auto">
						<h2>Reportes por Estados</h2>
					</a>
				</div>
				<div class="col-4 text-center">
					<a href="#reportesMotivos" class="card">
						<img src="images/line-chart.svg" alt="" width="80" class="m-auto">
						<h2>Reportes por Motivos</h2>
					</a>
				</div>
				<div class="col-4 text-center">
					<a href="#reportesMacroEstado" class="card">
						<img src="images/bar-chart-graph.svg" alt="" width="80" class="m-auto">
						<h2>Reportes por MacroEstados</h2>
					</a>
				</div>
			</div>
		</div>
	</form>
</div>
