<!-- Generar reporte  -->
<div ng-controller="disenoConfigCtrl as dcCtrl" class="clean-body">
    <div class="container">
        <form name="myForm" novalidate></form>
            <div class="row">
                <div class="col-12 mt-2 pt-2">
                    <div class="card mt-5 p-2 pb-5">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="pl-4 mt-2 text-grey mb-5">Generar reporte</h2>
                               <div class="pl-4">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
									<label class="form-check-label text-grey" for="exampleRadios1">
									  6 últimos meses
									</label>
								  </div>
								  <div class="form-check mt-2">
									<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
									<label class="form-check-label text-grey" for="exampleRadios2">
									 Rango de fechas
									</label>
								  </div>
							   </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <div class="card mt-5 p-2 pb-3">
                        <div class="row pt-3 pl-2">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1" class="text-dark">Fecha de inicio</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option>Enero</option>
                                      <option>Febrero</option>
                                      <option>Marzo</option>
                                      <option>Abril</option>
                                      <option>Mayo</option>
                                      <option>Junio</option>
                                      <option>Julio</option>
                                      <option>Agosto</option>
                                      <option>Septiembre</option>
                                      <option>Octubre</option>
                                      <option>Noviembre</option>
                                      <option>Diciembre</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">&nbsp;</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>2021</option>
                                        <option>2020</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1" class="text-dark">Fecha de término</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option>Enero</option>
                                      <option>Febrero</option>
                                      <option>Marzo</option>
                                      <option>Abril</option>
                                      <option>Mayo</option>
                                      <option>Junio</option>
                                      <option>Julio</option>
                                      <option>Agosto</option>
                                      <option>Septiembre</option>
                                      <option>Octubre</option>
                                      <option>Noviembre</option>
                                      <option>Diciembre</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">&nbsp;</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>2021</option>
                                        <option>2020</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-12 text-right mt-3 mb-3">
                                <button type="button" class="btn btn-primary">Ver movimientos</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right pt-5">
                    <button type="button" class="btn btn-secondary mt-4">Volver</button>
                </div>
            </div>
    </div>

</div>